<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
   <servlet>
    <servlet-name>ServletInsert</servlet-name>
    <servlet-class>servlet.ServletInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInsert</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletDelete</servlet-name>
    <servlet-class>servlet.ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDelete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletList</servlet-name>
    <servlet-class>servlet.ServletList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletList</servlet-name>
    <url-pattern>/List</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletConfirm</servlet-name>
    <servlet-class>servlet.ServletConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfirm</servlet-name>
    <url-pattern>/Confirm</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>